<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>JSF Tutorial!</title>
</h:head>

<h:body>

	<h:form id="user-form">
		<h:outputLabel for="nombre">Nombre</h:outputLabel>
		<h:inputText id="nombre" value="#{crearAlumno.nombre}" required="true"
			requiredMessage="Nombre es requerido" />
		<br />
		<h:outputLabel for="apellido">Apellido</h:outputLabel>
		<h:inputText id="apellido" value="#{crearAlumno.apellidos}"
			required="true" requiredMessage="Apellido es requerido" />
		<br />
		<h:outputLabel for="edad">Edad</h:outputLabel>
		<h:inputText id="edad" value="#{crearAlumno.edad}" required="true"
			requiredMessage="Edad es requerido" />
		<br />
		<h:outputLabel for="dni">Dni</h:outputLabel>
		<h:inputText id="dni" value="#{crearAlumno.dni}" required="true"
			requiredMessage="DNI es requerido" />
		<br />
		<h:outputLabel for="sexo">Sexo</h:outputLabel>
		<h:selectOneMenu id="sexo" value="#{crearAlumno.sexo}" required="true"
			requiredMessage="DNI es requerido">
			<f:selectItem itemValue="M" itemLabel="Masculino" />
			<f:selectItem itemValue="F" itemLabel="Femenino" />
		</h:selectOneMenu>
		<br />
		<h:commandButton id="submit-button" value="Submit"
			action="#{crearAlumno.crear}" />
	</h:form>
</h:body>
</html>
















