<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html">
<head>
<title>JSF Tutorial!</title>
</head>

<body>

	<h:form id="user-form">
		<h:outputLabel for="username">User Name</h:outputLabel>
		<h:inputText id="username" value="#{formBean.name}" required="true"
			requiredMessage="Username is required" />
		<br />
		<h:commandButton id="submit-button" value="Submit"
			action="#{formBean.process}" />
	</h:form>
</body>
</html>

