<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>JSF Tutorial!</title>
</h:head>

<h:body>
	<h:form>
		<h:commandLink value="CrearAlumno" action="#{indexBean.irA('crearAlumno')}"/>
	</h:form>
</h:body>
</html>


